html {
  background-image: url(../images/PXL_20210316_120442199.PORTRAIT.jpg);
  background-size: cover;
  background-color: linear-gradient(to bottom right, red, purple);
  color: black;
  text-align: center;
  margin: auto;
  font-family: "Roboto", Helvetica, sans-serif;
  min-width: 500px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

main {
  flex: 1;
}

/* main page */

img {
  border-radius: 2vw;
  display: block;
  margin: auto;
}

nav {
  display: flex;
  background-color: rgba(200, 200, 200, 0.8);
  padding-left: 1vw;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

li a {
  color: white;
}

li a:hover {
  color: black;
}

h1,
a {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    purple
  );
}

footer {
  height: 1vw;
  margin: 0;
  padding: 1vw;
  background: rgba(200, 200, 200, 0.8);
  display: flex;
  color: white;
  justify-content: flex-end;
  align-items: center;
}

a {
  text-decoration: none;
}

.recipe {
  text-align: center;
  flex: 0 1 auto !important;
}

.menu {
  font-size: xx-large;
}

/* Recipes Page */

div.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
  margin: 2vw;
}

.container > div {
  border-radius: 2vw;
  margin: 1vw;
  padding: 1vw;
  background-color: rgba(200, 200, 200, 0.8);
}

.description {
  flex: 0.5 1 100px;
}

.ingredient {
  flex: 1 1 150px;
}

.steps {
  flex: 2 1 250px;
}
